@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus{
    outline: none;
}

.custom-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 576px) {
    .custom-container {
        max-width: 96%;
    }
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1000px;
    }
}

@media (min-width: 1400px) {
    .custom-container {
        max-width: 1000px;
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
}