@import './base.css';


.shadcn-toast {
    margin-bottom: 12px;
}

.shadcn-toast-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Custom container uchun CSS */
.custom-container {
    width: 100%;
    max-width: 1200px; /* Maksimal kenglik */
    margin-left: auto; /* O'ng va chap tomondan markazlash */
    margin-right: auto;
    padding-left: 15px; /* Ichki bo'shliq */
    padding-right: 15px;
}

/* Moslashuvchan o'lchamlar */
@media (max-width: 1200px) {
    .custom-container {
        max-width: 96%;
    }
}



@media (max-width: 576px) {
    .custom-container {
        max-width: 100%;
    }
}


body::-webkit-scrollbar {
    width: 10px;
    /* Scrollbar kengligi */
}

body::-webkit-scrollbar-track {
    background: #f0f0f0;
    /* Scrollbar trekining fon rangi */
    border-radius: 10px;
    /* Scrollbar trekining burchak radiusi */
}

body::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar thumbning rangi */
    border-radius: 10px;
    /* Scrollbar thumbning burchak radiusi */
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Hover qilinganida scrollbar thumbning rangi */
}